@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scaffold/index";
@import "./components/index";
@import "./colors/index";

* {
  scroll-behavior: smooth;
  @apply m-0 p-0 box-border;
}

body {
  @apply bg-background text-foreground;
}

// * {
//   border: 1px solid red;
// }

.grecaptcha-badge {
  visibility: hidden;
}

@layer base {
  html {
    font-family: "Noto Sans Arabic", sans-serif;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
