.btn-primary {
  @apply bg-primary text-white h-[51px] rounded-md px-5 w-full font-semibold disabled:opacity-50;
  background-color: var(--primary) !important;
  color: rgb(255 255 255) !important;
  height: 51px !important;
  border-radius: 0.375rem /* 6px */ !important;
  padding-left: 1.25rem /* 20px */ !important;
  padding-right: 1.25rem /* 20px */ !important;
  width: 100% !important;
  font-weight: 600 !important;
}

.btn-outline {
  @apply bg-transparent text-primary h-[51px] rounded-md px-5 w-full font-semibold border border-primary disabled:opacity-50;
  background-color: transparent !important;
  color: var(--primary) !important;
  height: 51px !important;
  border-radius: 0.375rem /* 6px */ !important;
  padding-left: 1.25rem /* 20px */ !important;
  padding-right: 1.25rem /* 20px */ !important;
  width: 100% !important;
  font-weight: 600 !important;
  border: 1px solid var(--primary) !important;
}
