<div styleClass="dynamic-form-card" class="main-container my-10">
  <div class="text-center">Dynamic Form Creation</div>
  <form [formGroup]="dynamicForm" (ngSubmit)="saveForm()" novalidate>
    <div class="field" *ngFor="let field of formFields" [ngSwitch]="field.type">
      <mat-form-field class="w-full" *ngSwitchCase="'textArea'">
        <mat-label>{{ field.label }}</mat-label>
        <textarea
          matInput
          formControlName="{{ field.name }}"
          class="ring-0 focus-within:ring-0 focus:ring-0"
        ></textarea>
        <mat-error
          *ngIf="
            dynamicForm?.get(field.name)?.invalid &&
            dynamicForm?.get(field.name)?.dirty
          "
        >
          invalid</mat-error
        >
        <mat-error *ngIf="dynamicForm?.get(field.name)?.errors?.['required']">
          required</mat-error
        >
      </mat-form-field>

      <mat-form-field *ngSwitchCase="'date'" class="w-full">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="{{ field.name }}"
          class="ring-0 focus-within:ring-0 focus:ring-0"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon></mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dynamicForm?.get(field.name)?.errors?.['required']"
          >required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-full" *ngSwitchCase="'text'">
        <mat-label>{{ field.label }}</mat-label>
        <input
          matInput
          formControlName="{{ field.name }}"
          type="text"
          class="ring-0 focus-within:ring-0 focus:ring-0"
        />
        <mat-error
          *ngIf="
            dynamicForm?.get(field.name)?.invalid &&
            dynamicForm?.get(field.name)?.dirty
          "
        >
          invalid</mat-error
        >
        <mat-error *ngIf="dynamicForm?.get(field.name)?.errors?.['required']">
          required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="w-full" *ngSwitchCase="'number'">
        <mat-label>{{ field.label }}</mat-label>
        <input
          type="number"
          *ngSwitchCase="'number'"
          matInput
          formControlName="{{ field.name }}"
          class="ring-0 focus-within:ring-0 focus:ring-0"
        />
        <mat-error
          *ngIf="
            dynamicForm?.get(field.name)?.invalid &&
            dynamicForm?.get(field.name)?.dirty
          "
        >
          invalid</mat-error
        >
        <mat-error *ngIf="dynamicForm?.get(field.name)?.errors?.['required']">
          required</mat-error
        >
      </mat-form-field>

      <mat-form-field class="w-full" *ngSwitchCase="'dropdown'">
        <mat-label>{{ field.label }}</mat-label>
        <mat-select formControlName="{{ field.name }}">
          <mat-option
            *ngFor="let place of field.options; trackBy: trackByFn"
            [value]="place.value"
          >
            {{ place.label }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            dynamicForm?.get(field.name)?.invalid &&
            dynamicForm?.get(field.name)?.dirty
          "
        >
          invalid</mat-error
        >
        <mat-error *ngIf="dynamicForm?.get(field.name)?.errors?.['required']">
          required</mat-error
        >
      </mat-form-field>
    </div>

    <button
      mat-button
      [disabled]="dynamicForm.invalid"
      class="btn-primary"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>
