<main class="main-container my-10">
  <!-- <select [(ngModel)]="selectedFormType" (change)="onFormTypeChange()">
    <option *ngFor="let formType of formTypes" [value]="formType.id">
      {{ formType.name }}
    </option>
  </select> -->
  <!-- <select
    id="formType"
    [(ngModel)]="selectedFormType"
    (change)="onFormTypeChange($event)"
  >
    <option value="">--Select Form Type--</option>
    <option *ngFor="let formType of formTypes" [value]="formType.id">
      {{ formType.name }}
    </option>
  </select> -->
  <app-multi-step-form
    class="multi-step-form"
    [formContent]="formContent"
    (formSubmit)="onFormSubmit($event)"
  ></app-multi-step-form>
</main>

<!-- <p>{{ "welcomeMessage" | translate : user }}</p>
<p>Current locale => {{ this.translate.currentLang }}</p>
<input type="password" placeholder="{{ 'login.password' | translate }}" />
<label translate="login.username"></label>
<p translate [translateParams]="{ firstName: user.firstName }">
  welcomeMessage
</p>

<button (click)="toggleLanguage()">Toggle Language</button>
<h1 class="text-3xl font-bold underline">Hello world!</h1> -->
