<div>
  <h1 class="form-heading text-center font-semibold text-lg mb-10">
    {{ stepItems[activeStepIndex].label }}
  </h1>

  <ng-container
    *ngFor="let form of masterForm; let i = index; trackBy: trackByFn"
  >
    <form
      action=""
      [formGroup]="masterForm[i]"
      *ngIf="i === activeStepIndex || masterForm.length === 1"
      class=""
    >
      <div class="flex flex-col gap-y-5">
        <div class="fields-container flex flex-col gap-y-5">
          <div
            *ngFor="let field of formFields[i]; trackBy: trackByFn"
            [ngSwitch]="currentFormContent[i][field].type"
          >
            <div class="flex flex-col">
              <label class="field-label text-bold" [for]="field">{{
                field | formatTitle
              }}</label>

              <ng-container *ngSwitchCase="'textarea'">
                <textarea
                  [id]="field"
                  [formControlName]="field"
                  [placeholder]="currentFormContent[i][field].placeholder"
                  class="field"
                ></textarea>
              </ng-container>

              <ng-container *ngSwitchCase="'otp'">
                <ng-otp-input
                  #ngOtpInput
                  [formControlName]="field"
                  [id]="field"
                  [config]="{ length: 4 }"
                  (onInputChange)="onOtpChange($event, field)"
                ></ng-otp-input>
              </ng-container>

              <ng-container *ngSwitchCase="'file'">
                <input type="file" (change)="onFileChange($event, field)" />
              </ng-container>

              <ng-container *ngSwitchCase="'select'">
                <select [formControlName]="field" [id]="field" class="field">
                  <option value="">Select your Country</option>
                  <option
                    *ngFor="
                      let option of currentFormContent[i][field].options;
                      trackBy: trackByFn
                    "
                    [value]="option.name"
                  >
                    {{ option.name }}
                  </option>
                </select>
              </ng-container>

              <ng-container *ngSwitchDefault>
                <input
                  [type]="currentFormContent[i][field].type"
                  [formControlName]="field"
                  [id]="field"
                  [placeholder]="currentFormContent[i][field].placeholder"
                  class="field"
                />
              </ng-container>
            </div>

            <p
              class="validation-error"
              *ngIf="
                (masterForm[i].get(field)?.dirty ||
                  masterForm[i].get(field)?.touched) &&
                masterForm[i].get(field)?.invalid &&
                masterForm[i].get(field)?.errors
              "
            >
              {{ getValidationMessage(i, field) }}
            </p>
          </div>
        </div>

        <div
          class="preview-container"
          *ngIf="activeStepIndex === stepItems.length - 1"
        >
          <ul>
            <li
              class="form-details-list"
              *ngFor="let field of masterFormFields; trackBy: trackByFn"
            >
              <span class="text-bold">{{ field | formatTitle }} => </span>
              <span>{{ formData[field] || "N/A" }}</span>
            </li>
          </ul>
        </div>

        <div class="flex items-center gap-[11px]">
          <button
            type="button"
            *ngIf="activeStepIndex"
            [disabled]="!activeStepIndex"
            (click)="goToStep('prev')"
            class="btn-outline"
          >
            Back
          </button>
          <button
            *ngIf="activeStepIndex === stepItems.length - 1"
            type="button"
            (click)="onFormSubmit()"
            class="btn-primary"
          >
            Submit
          </button>
          <button
            type="button"
            *ngIf="activeStepIndex !== stepItems.length - 1"
            [disabled]="
              activeStepIndex === stepItems.length - 1 || masterForm[i].invalid
            "
            (click)="goToStep('next')"
            class="btn-primary"
          >
            Next
          </button>
        </div>
      </div>
    </form>
  </ng-container>
</div>
